<div class="row">
  <div class="col-12">
    <div class="building-map" id="mapid"></div>
  </div>
</div>

<div class="row" id="table_of_buildings">
  <div class="col-12">
    <%= render(partial: 'table', locals: { buildings: @buildings }) %>
  </div>
</div>
